<form>
  <!--primer grupo de inputs-->
  <div class="input-group">
    <p>
      <label for="initialInvestInput">Inverción inicial</label>
      <input id="initialInvestInput" type="number" />
    </p>
    <p>
      <label for="anualInvestInput">Inverción Anual</label>
      <input id="anualInvestInput" type="number" />
    </p>
  </div>
  <!--segundo grupo de inputs-->
  <div class="input-group">
    <p>
      <label for="investReturnInput">Retorno esperado</label>
      <input id="investReturnInput" type="number" />
    </p>
    <p>
      <label for="durationInput">Duración</label>
      <input id="durationInput" type="number" />
    </p>
  </div>
  <p><button>Calcular</button></p>
</form>
